adium-theme-ubuntu==0.3.4
certifi==2017.7.27.1
chardet==3.0.4
cryptography==1.7.1
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.3.1
keyrings.alt==2.2
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
pyxdg==0.25
requests==2.18.4
SecretStorage==2.3.1
six==1.10.0
unity-lens-photos==1.0
urllib3==1.22
virtualenv==15.1.0
